@model NYFInter.Models.Message

@{
    ViewBag.Title = "EditMessage";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>EditMessage</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AdminId)
        @Html.HiddenFor(model => model.SentBy)
        @Html.HiddenFor(model => model.SentDate)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new {@style="max-width:100%;", @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Messages")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
